.wrapper{
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-around;
    box-shadow: -1px -1px 4px -1px rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    .logo{
        padding:10px;
        padding-right: 20px;
        width: 12%;
        text-align: center;
        span{
            a{
                color: black;
            }
        }
        cursor: pointer;
    }
    .logout{
        padding:10px;
        width: 88%;
        display: flex;
        justify-content: space-around;
        .burger{
            align-items: flex-start;
            width: 10%;
            cursor: pointer;
            span{
                width: 20px;
                height: 4px;
                background: rgb(187, 187, 187);
                border-radius: 5px;
                display: block;
                margin: 2px 0;
            }
        }
        .logout-btn{
            width: 90%;
            text-align: right;
            cursor: pointer;
            &:hover{
                color: red
            }
        }
    }

}